* {
    background-color: #a9bd93;
    border: 15px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: antiquewhite;
}

header nav {
    padding-top: 70px;
    margin-right: 15px;
    float: right;
    font-family: "Avanta Garde", "Optima", Arial, sans-serif;
    font-size: 22px;
}
   
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
  
h2 {
    display: inline-block;
    font-size: 22px;
    color: antiquewhite;
}
#main-container {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #a9bd93;
  border-radius: 15px;
  display: flex;
  /* flex-direction: column; */
}

#sidebar {
  display: table-cell;
  width: 15%;
  vertical-align: top;
  background-color: #a9bd93;
  border-radius: 15px;
}

#sidebar a {
  display: block;
  padding: 0px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px 0 0 0;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important;
}

#content {
  display: table-cell;
  width: 85%;
  vertical-align: top;
  padding: 10px 0 0 10px;
}

#first-app {
  width: 1400px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

.about {
  font-family: "Avanta Garde", "Optima", Arial, sans-serif;
  color: antiquewhite;
  font-size: xx-large;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 480;
  border: 5px solid rgb(165, 165, 165);
  padding: 10px;
  margin-top: 200px;
  font-family: "Avanta Garde", "Optima", Arial, sans-serif;
  font-size: xx-large;
  border-radius: 15px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Avanta Garde", "Optima", Arial, sans-serif;
  text-align: center;
  width: 480;
  font-size: 15px;
  background-color: #a9bd93;
  color: antiquewhite;
  border-radius: 15px;
  position: relative;
}

.work {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1500px;
  height: 700px;
  padding-left: 0px;
  align-items: center;
  margin-left: 90px;
  justify-content: flex-start;
}
.work > section {
  display: flex;
  flex-basis: calc(25% - 40px);
  justify-content: right;
  flex-direction: column;
}
.work > section > section {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  justify-content: right;
}

legend {
    font-family: "Avanta Garde", "Optima", Arial, sans-serif;
    font-size: 20px;
    color: antiquewhite;
    border: 1px solid rgb(165, 165, 165);
}

@media screen and (max-width: 400px) {
    * {
        background-color: rgb(105, 75, 35);
    }
}

@media screen and (max-width: 600px) {
    .work {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .work {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
    
}